# Archivos generados
*.sqlite3
__pycache__
*.pyc
*.log
*.pot
*.mo
*.po
db.sqlite3

# Entornos virtuales
venv/
env/
ENV/

# Configuraciones sensibles (si usas variables de entorno)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos del sistema
.DS_Store
Thumbs.db

# Node_modules si agregas frontend después
node_modules/
